.gl-layout {
    height: 100%;
    width: 100%;
    clear: both;
    display: inline-block;
    box-sizing: border-box;
}

.gl-left {
    width: 200px;
    border-right: 2px solid #EFF2F7;
    height: 100%;
    float: left;
    background-color: #fff;
    position: relative;
    margin-right: -200px;
}

.gl-left .swtch-tip {
    position: absolute;
    z-index: 999;
    top: 0;
    right: -16px;
    bottom: 0;
    width: 16px;
    height: 36px;
    line-height: 34px;
    margin: auto;
    cursor: pointer;
    color: #fff;
    background-color: #34c094;
}

.glhide {
    display: none;
}

.gl-left:hover .swtch-tip {
    display: inline-block;
}

.gl-area {
    width: 100%;
    height: 100%;
    /* float: right; */
}

.gl-carrier {
    height: 100%;
    position: relative;
    background-color: #fff;
    margin-left: 200px;
    overflow: hidden;
}