<div class="gl-layout-main">

    <div class="gl-header">
        <app-header (menuSwitch)="onMenuSwitch($event)"></app-header>
    </div>
    <div class="gl-btm-area">
        <div class="gl-aside" [ngStyle]="{ 'width.px' : leftwidth, 'margin-right.px': -leftwidth }">
            <div class="gl-menu">
                <app-menu></app-menu>
            </div>
        </div>
        <div class="gl-area">
            <div class="gl-continet" [ngStyle]="{ 'margin-left.px':  leftwidth }">
                <div class="gl-main">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>