<el-menu model="2" default-active="2" class="el-menu-vertical-demo" (modelChange)="handle($event)">
    <el-menu-item index="client/work-trend">
        <i class="fa fa-server fa-fw fa-lg"></i>
        <span class="menu-text">工作动态</span>
    </el-menu-item>
    <el-menu-item index="client/personal-work">
        <i class="fa fa-user-o fa-fw fa-lg"></i>
        <span class="menu-text">个人工作</span>
    </el-menu-item>
    <el-menu-item index="client/departments-sup">
        <i class="fa fa-users fa-fw fa-lg"></i>
        <span class="menu-text">部门监控</span>
    </el-menu-item>
    <el-menu-item index="client/client-info">
        <i class="fa fa-vcard-o fa-fw fa-lg"></i>
        <span class="menu-text">客户信息</span>
    </el-menu-item>
</el-menu>